{% if is_paginated %}
  <div class="d-flex justify-content-center align-items-center gap-2 my-3 flex-nowrap" style="flex-wrap:nowrap;">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-primary" href="?page=1">First</a>
      <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="btn btn-primary disabled">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
{% endif %}
